/* Estilos para el contenedor de la página de inicio */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
    background-image: url("https://th.bing.com/th/id/OIG3.9uLcmiAIo38l9LJCuVLl?pid=ImgGn"); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    padding: 20px; /* Añade un poco de espacio interno */
}

/* Estilos para el título */
.home-container h1 {
    color: #333; /* Color del texto */
    margin-bottom: 20px; /* Espacio debajo del título */
    font-size: 2.5em; /* Tamaño del texto */
    background: rgba(
        255,
        255,
        255,
        0.8
    ); /* Fondo semitransparente para mejorar la legibilidad */
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para el botón de iniciar sesión */
.login-button {
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    font-size: 1em; /* Tamaño del texto del botón */
    cursor: pointer; /* Cambia el cursor al pasar el ratón por encima */
    transition: all 0.3s ease; /* Transición suave para cambios de propiedad */
}

.login-button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el ratón por encima */
}
