img {
    width: 150px;
    transition: filter 0.3s ease;
    border-radius: 5px;
}

.contenedora_imagen {
    margin: 8px;
}

.contenedora_imagen:hover img {
    filter: brightness(0.8);
    cursor: pointer;
}
