/* Estilos para el contenedor de autores */
.containerAutores {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    width: 80%;
    margin: 0 auto; /* Centra el contenedor `.containerAutores` en la página */
    gap: 2em;
    flex-wrap: wrap;
    background-color: #e0f7fa; /* Añade un color de fondo suave */
    padding: 20px; /* Añade un poco de espacio interno */
    border-radius: 15px; /* Añade bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
    transition: all 0.5s ease; /* Añade una transición suave a todos los cambios de propiedad */
}

.containerAutores:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del contenedor cuando se pasa el ratón por encima */
}

/* Estilos para la acción de autores */
.accionAutores {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    transition: all 0.5s ease; /* Añade una transición suave a todos los cambios de propiedad */
}

.accionAutores:hover {
    transform: rotate(360deg); /* Gira el elemento 360 grados cuando se pasa el ratón por encima */
}
