section{
    height: 100vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
}